html {
    --text: #000000;
    --background: #ffffff;
    --primary: #f47e30;
    --secondary: #ed713c;
    --accent: #efa700;
}

body {
    color: var(--text);
    font-family: "Oxanium";
    font-weight: 450;
    font-optical-sizing: auto;
    font-kerning: auto;
}

p {
    border: double thick #ed713c
}

a {
    color: rgb(184, 63, 11);
}

h2,
h3 {
    color: rgb(214, 93, 12);
    font-family: "Orbitron";
    font-optical-sizing: auto;
    margin: 1;
}

h1 {
    color: rgb(244, 126, 48);
    background: rgb(204, 204, 204);
    font-family: "Orbitron";
    padding: 0.25em;
    border: 3mm ridge orange;
    font-size: 3.25rem;
}

h2 {
    text-decoration: underline double;
    text-decoration-thickness: 3px;
    text-shadow: .5px .5px 1px;
}

h3 {
    text-decoration: underline solid;
}

p {
    background: var(--accent);
}

li::marker {
    color: var(--secondary);
}

img {
    padding: 2px;
    background: var(--primary);
    width: auto;
    height: 150px;
    border: ridge orange
}

audio {
    padding: 1em;
    border: dashed orange
}