html {
    --text: #000000;
    --background: #ffffff;
    --primary: #f47e30;
    --secondary: #ed713c;
    --accent: #efa700;
    background-image: url("images/DORFic_wallpaper_opaque.png");
    background-repeat: no-repeat;
    background-size: cover; 

}

body {
    color: var(--text);
    font-family: "Oxanium";
    font-weight: 450;
    font-optical-sizing: auto;
    font-kerning: auto;
}

p {
    border: solid #ed713c;
    border-radius: 15px;
    padding: 8.75px
}

a {
    color: rgb(184, 63, 11);
}

h2,
h3 {
    color: rgb(214, 93, 12);
    font-family: "Orbitron";
    font-optical-sizing: auto;
    margin: 1;
}

h1 {
    color: rgb(244, 126, 48);
    background: rgba(204, 204, 204, 0.7);
    font-family: "Orbitron";
    padding: 0.25em;
    border: 3mm ridge orange;
    border-radius: 15px;
    font-size: 3.25rem;
}

h2 {
    text-decoration: underline double;
    text-decoration-thickness: 3px;
    text-shadow: .5px .5px 1px;
}

h3 {
    text-decoration: underline solid;
}

p {
    background: var(--background);
}

li::marker {
    color: var(--secondary);
}

img {
    padding: 2px;
    background: var(--primary);
    width: auto;
    height: 150px;
    border: ridge rgb(255, 165, 0)
}

audio {
    padding: 1em;
    border: dashed orange
}

nav ul {
  list-style-type: none; /* Removes bullet points */
  margin: 0;
  padding: 0;
  font-family: "Orbitron";
  padding: 0.15em;
  border: 3mm ridge orange;
  border-radius: 15px;
  font-size: 1rem;
  background-color: rgba(204, 204, 204, 0.7); /* Dark background */
  display: flex; /* Arranges list items horizontally */
  justify-content: space-around; /* Distributes links evenly */
}

nav ul li a {
  display: block; /* Makes the entire area clickable */
  color: rgb(244, 126, 48);
  text-align: center;
  padding: 12px 14px;
  text-decoration: none; /* Removes default link underlines */
}

nav ul li a:hover {
  background-color: #ddd; /* Color change on hover */
  color: rgb(202, 104, 13);
}

